/* Home */
.About {
    height: 100vh;
    display: flex;
    width: 100%;

    background-color: lightcyan;
}
.emptyNavbar {
    height: 10%;
}

.column-right {
    width: 100%;   
    margin: 5%;
    background-color: lightcoral
}
.column-left {
    width: 100%;
    margin: 5%;
    background-color: lightblue;
}

h1 {
    color: gray;
}

p {
    font-size: 1.3em;
}

img {
    width: 30%;
    
}