/* Home */
.About {
    height: 90vh;
    display: flex;
}

.column-left {
    width: 50%;
    border: 1em green solid;
    margin: 2%;
    
}

.column-right {
    width: 50%;
    border: 1em white solid;
    margin: 2%;
}


h1 {
    color: gray;
}

p {
    font-size: 1.3em;
}

