/* Home --------------------------------- */
.About {
    height: 100vh;
    width: 50vw - 7%;

    display: flex;
    justify-content: center;
    align-items: center;
 }

.navbar {
    z-index: 2;
}

.text {
    margin: 2%;
    padding-right: 5%;
    padding-top: 10%;
}

/* Item formatting ---------------------- */
.body {
    z-index: 1;
}

    h1 {
        color: gray;
        padding-top: 1vh;
    }

    p {
        font-size: 1.6vh;
    }


