.navbar {
  position: fixed;

  height: 10vh;
  
  width: 100%;
  background-color: lightgray;
  }

/* Navigation links */
.navbar a {
  float: left;

  width: 25%; 

  font-size: 3vh;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.links a {
  transition: all 0.5s ease-out;
  transform: scale(1.0);
}

.links a:hover {
  transition: 0.5s ease;
  transform: scale(1.5);
}
