.emptyNavbar {
  height: 10%;
}


/* Column formatting -------------------- */
.columns {
  z-index: -1;
  display: flex;
  
  height: 100vh;
}

.column-left {
  height: 90vh;
}

.column-right {
  height: 90vh;
}


.bottom {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button {
  background-color: black;
  border: none;

  color: white;
  text-align: center;
  font-size: 2vh;

  padding: 1%;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  font-weight: bold;
  transition: 1s ease;
}

.button:hover span:after {
  opacity: 1;
  right: 0;

}